{%include 'header.html'%}
<html>
<head>
<center><h1 style="padding-top: 20px;font-size: 28px;font-family: Algerian;"><i>SCHEDULE INTERVIEW</i></h1></center>
<title>ONLINE COLLABRATION FOR TEXTILE</title>
</head>
<body>
 <div class="container" style="margin:0 auto;width: 80%;">
	{% if messages %}
              {% for i in messages %}
                <div class="alert alert-success">{{i}}</div>
              {% endfor %}
            {% endif %}
	<div class="row">
	<form method="post" enctype="multipart/form-data">{% csrf_token %}
		{% for i in detail %}
	<div class="form-group">
		<label>Interview Date:</label><br>
		<input type="date" style="width:265px; height:30px;" name="interview_date"  class="form-control" ><br>
		<label>Time:</label><br>
		<input type="text" style="width:265px; height:30px;" name="time"  class="form-control" ><br>
		<label>Job Status:</label><br>
		<select name="status" class="form-control">
			
		  <option value="">Select</option>

		  <option value="Shorlisted">Shorlisted</option>

		  <option value="Rejected">Rejected</option>
		</select><br>
		<label>Address:</label><br>
		<textarea class="form-control" name="address"></textarea><br>
		<input type="submit" value="Add Job Detail" class="btn btn-success">
		{% endfor %}
	</form>
	</div>
 </div>
 </body>
</html>
{%include 'footer.html'%}